<div class="profile-container">
	<h2>User info</h2>

		<% if flash[:notice] %>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<% end %>

	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>

			<table  class="table table-striped">
					<tr>
						<td>
							<h4>name</h4>
						</td>
						<td>
							<h4><%= user.name %></h4>
						</td>
					</tr>
					<tr>
						<td>
							<h4>introduction</h4>
						</td>
					    <td>
							<h4><%= user.comment %></h4>
						</td>
					</tr>
			</table>



	<% if user.id == current_user.id %>
		<p><%= link_to "プロフィール編集", edit_user_path(user), class: "edit_user_#{user.id}" %></p>
	<% end %>
</div>