
<div class="container">
	<div class="row">

		<div class="col-lg-4">
			<div class="">
       			<%= render 'users/list', user: @user %>
      		</div>
      		<div>
       			<%= render 'books/new', book: @book %>
			</div>
		</div>

		<div class="col-lg-8">
			<h2>Users</h2>
			<table  class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
						</td>
						<td>
							<%= user.name %>
						</td>
						<td>
							<%= link_to 'show', user_path(user) %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>



